@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    width: 100%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}

header{
    background: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg") center / cover;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav ol{
    list-style: none;
}

nav ol li a{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    color: white;
}

nav ul li a{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

nav ul li{
    margin: 0 20px;
}

.main_banner{
    text-align: center;
    color: white;
}

.main_banner h2{
    font-weight: 100;
    font-style: italic;
    font-size: 38px;
}

.main_banner h1{
    font-weight: bold;
    font-size: 60px;
}

.main_banner a{
    text-decoration: none;
    color: white;
    background-color: gold;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* services */

.title{
    text-align: center;
    padding: 50px 0;
}

.title h1{
    font-size: 40px;
    font-weight: bold;
}

.title p{
    color: gray;
    font-style: italic;
}

.services_container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    text-align: center;
}

.img_block{
    padding: 25px;
    width: 70px;
    margin: 0 auto;
    background: gold;
    border-radius: 50%;
}

.img_block img{
    width: 70px;
}

.service_card p{
    color: gray;
}

.service_card{
    margin: 0  20px;
}

/* portfolio */

.portfolio{
    background-color: whitesmoke;
}

.portfolio_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    margin: 20px 20px;
    background-color: white;
    text-align: center;
}

.box img{
    width: 350px;
}

.about_container{
    width: 70%;
    margin: 0 auto;
}

.about_card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_card div{
    margin: 0 20px;
}

hr{
    border: 1px dashed gray;
}

.text{
    text-align: right;
    width: 400px;
}

.text2{
    text-align: left;
    width: 400px;
}

.circle img{
    width: 250px;
    border: 5px solid gainsboro;
    border-radius: 50%;
}

/* team */

.team{
    background-color: whitesmoke;
}

.team_container{
    display: flex;
    justify-content: space-around;
}

.block{
    text-align: center;
}

.block img{
    width: 200px;
    border-radius: 100%;
    border: 5px solid gainsboro;
}


.icon i{
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin: 0 20px ;
    border-radius: 100% ;
}

.reg{
    background: url("https://wallpapercave.com/wp/wp2787778.jpg") center / cover;
    width: 100%;
    height: 100vh;
}

.reg_container{
    width: 80%;
    margin: 0 auto;
}


.inline{
    display:flex;
}

.inline div{
    width: 100%;
}

.form_inputs input{
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border-radius:5px;
    border: 0;
    outline: none;
    margin-bottom: 30px;
}

.feedback textarea{
    width: 80%;
    height: 210px;
    border-radius: 5px ;
    border: 0;
    padding: 20px;
    outline: none;
}

.reg_container a{
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: gold;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 40% ;
}

.foot{
    display: flex;
    display:inline-flex ;
    width: 100%;
    padding: 30px 0;
}

.p2{
   margin-left:  50%;
   color: gold;
   font-weight:bold ;
}

.p{
    color: black;
    font-weight: bold;
}

.icon{
    justify-content: center;
}